@import "default/_all";
@import "default/_breakpoints";

body {
    margin: 0;
}

#login {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;

    img {
        display: block;
        margin: 0 auto;
    }
    form {
        margin-bottom: 16px;
    }
}

.login-link-box {
    background: #f4f4f4;
    text-align: center;
    padding: 24px 0;
    border-radius: 4px;
    border: 1px solid #ececec;
}

.toast {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    background: rgba(0,0,0,0.75);
    cursor: pointer;

    @include breakpoint(sm) {
        position: static;
        width: auto;
        height: auto;
        margin: 16px 8px 32px;
        background: none;
    }

    @include breakpoint(md) {
        margin: 16px 16px 32px;
    }

    @include breakpoint(lg) {
        width: calc(100vw - 32px);
        max-width: 1400px;
        margin: 16px auto 32px;
    }

    //colors for different cases
    &.success section { background: $light-green; }
    &.error section { background: $red; }
    &.warning section { background: $light-orange; color: black; }

    section {
        display: flex;
        position: absolute;
        top: 20px;
        left: calc(50% - 160px);
        width: 256px;
        padding: 32px;
        border-radius: 4px;
        background: $light-blue;
        color: white;

        @include breakpoint(sm) {
            position: relative;
            top: 0;
            left: 0;
            width: calc(100% - 32px);
            padding: 16px;
        }
    
        & > *:first-child {
            margin: 4px 16px 0 0;
        }
        a {
            color: inherit;
        }
        button {
            width: 100px;
            margin-top: 16px;
            border: 0;
            background: rgba(255,255,255,0.5);
            box-shadow: inset 0 0 0 0px rgba(255,255,255,0.33);
            border: 1px solid white;
            color: black;

            &:not(:last-child) {
                margin-right: 8px;
            }
        }
    }
    .close {
        position: absolute;
        top: 16px;
        right: 16px;
    }
}
