$xs: 400px;
$sm: 700px;
$md: 900px;
$lg: 1200px;

@mixin breakpoint($class) {
    @if $class == until-xs {
        @media (max-width: $xs - 1px) { @content; }
    }

    @else if $class == xs {
        @media (min-width: $xs) { @content; }
    }

    @else if $class == xs-only {
        @media (min-width: $xs) and (max-width: $sm - 1px) { @content; }
    }

    @else if $class == until-sm {
        @media (max-width: $sm - 1px) { @content; }
    }

    @else if $class == sm {
        @media (min-width: $sm) { @content; }
    }

    @else if $class == sm-only {
        @media (min-width: $sm) and (max-width: $md - 1px) { @content; }
    }

    @else if $class == until-md {
        @media (max-width: $md - 1px) { @content; }
    }

    @else if $class == md {
        @media (min-width: $md) { @content; }
    }

    @else if $class == md-only {
        @media (min-width: $md) and (max-width: $lg - 1px) { @content; }
    }

    @else if $class == until-lg {
        @media (max-width: $lg - 1px) { @content; }
    }

    @else if $class == lg {
        @media (min-width: $lg) { @content; }
    }

    @else {
        @warn "Breakpoint mixin supports: xs, xs-only, sm, sm-only, md, md-only, lg";
    }
}
