$lighter-gray: #f6f7f8;
$light-gray: #f4f4f4;
$medium-gray: #dfdfdf;
$gray: #ccc;
$dark-gray: #777;
$dark: #2e3135;
$header-light: #3c3f47;
$header-dark: #2d3035;
$blue-tint: #f2f5ff;
$light-blue: #23bef9;
$blue: #007acc;
$dark-blue: #1d567b;
$highlight: #d4e7fa;
$light-orange: #ffcc3b;
$orange: #ff8d00;
$red: #ed1c24;
$medium-red: #cd141b;
$dark-red: #c31a21;
$pale-green: #92c67e;
$light-green: #13d213;
$green: green;
$pdf: #ff2116;
$microsoft_excel: #2e7d32;
$microsoft_word: #235e9d;