html {
    width: 100%;
}
body {
    margin: 16px;
    font-family: Nunito, Verdana, sans-serif;
    font-size: 14px;
    position: relative;
    overflow-x: hidden;
}

//list of colors, so we can use them in the code
.white, .white > *                      { color: white; }
.black, .black > *                      { color: black; }
.lighter-gray, .lighter-gray > *        { color: $lighter-gray; }
.light-gray, .light-gray > *            { color: $light-gray; }
.medium-gray, .medium-gray > *          { color: $medium-gray; }
.gray, .gray > *                        { color: $gray; }
.dark-gray, .dark-gray > *              { color: $dark-gray; }
.dark, .dark > *                        { color: $dark; }
.blue-tint, .blue-tint > *              { color: $blue-tint; }
.light-blue, .light-blue > *            { color: $light-blue; }
.blue, .blue > *                        { color: $blue; }
.dark-blue, .dark-blue > *              { color: $dark-blue; }
.highlight, .highlight > *              { color: $highlight; }
.light-orange, .light-orange > *        { color: $light-orange; }
.orange, .orange > *                    { color: $orange; }
.red, .red > *                          { color: $red; }
.medium-red, .medium-red > *            { color: $medium-red; }
.dark-red, .dark-red > *                { color: $dark-red; }
.pale-green, .pale-green > *            { color: $pale-green; }
.light-green, .light-green > *          { color: $light-green; }
.green, .green > *                      { color: $green; }
.pdf, .pdf > *                          { color: $pdf; }
.microsoft_excel, .microsoft_excel > *  { color: $microsoft_excel; }
.microsoft_word, .microsoft_word > *    { color: $microsoft_word; }

.bg-white                               { background-color: white !important; }
.bg-black                               { background-color: black !important; }
.bg-lighter-gray                        { background-color: $lighter-gray !important; }
.bg-light-gray                          { background-color: $light-gray !important; }
.bg-medium-gray                         { background-color: $medium-gray !important; }
.bg-gray                                { background-color: $gray !important; }
.bg-dark-gray                           { background-color: $dark-gray !important; }
.bg-dark                                { background-color: $dark !important; }
.bg-header-light                        { background-color: $header-light !important; }
.bg-header-dark                         { background-color: $header-dark !important; }
.bg-blue-tint                           { background-color: $blue-tint !important; }
.bg-light-blue                          { background-color: $light-blue !important; }
.bg-blue                                { background-color: $blue !important; }
.bg-dark-blue                           { background-color: $dark-blue !important; }
.bg-highlight                           { background-color: $highlight !important; }
.bg-light-orange                        { background-color: $light-orange !important; }
.bg-orange                              { background-color: $orange !important; }
.bg-red                                 { background-color: $red !important; }
.bg-medium-red                          { background-color: $medium-red !important; }
.bg-dark-red                            { background-color: $dark-red !important; }
.bg-pale-green                          { background-color: $pale-green !important; }
.bg-light-green                         { background-color: $light-green !important; }
.bg-green                               { background-color: $green !important; }
.bg-pdf                                 { background-color: $pdf !important; }
.bg-microsoft_excel                     { background-color: $microsoft_excel !important; }
.bg-microsoft_word                      { background-color: $microsoft_word !important; }

//align items depending on the situation and browser width
.text-left { text-align: left; }
.text-left-sm { @include breakpoint(sm) { text-align: left; } }
.text-left-md { @include breakpoint(md) { text-align: left; } }
.text-left-lg { @include breakpoint(lg) { text-align: left; } }

.text-center { text-align: center; }
.text-center-sm { @include breakpoint(sm) { text-align: center; } }
.text-center-md { @include breakpoint(md) { text-align: center; } }
.text-center-lg { @include breakpoint(lg) { text-align: center; } }

.text-right { text-align: right; }
.text-right-sm { @include breakpoint(sm) { text-align: right; } }
.text-right-md { @include breakpoint(md) { text-align: right; } }
.text-right-lg { @include breakpoint(lg) { text-align: right; } }

//common HTML elements
a {
    color: $blue;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}
h2,
h3,
h4 {
    margin: 0;
}
h2 {
    margin-bottom: 16px;
    font-size: 36px;
    font-weight: 100;
}
h3 {
    font-size: 22px;
    font-weight: 100;
}
h4 {
    font-size: 16px;
}

hr {
    height: 1px;
    margin: 16px 0;
    background: rgba(0,0,0,0.1);
    border: none;
}

button,
.btn {
    display: inline-block;
    line-height: 25px;
    padding: 0 8px;
    border-radius: 4px;
    background: $light-gray;
    border: 1px solid rgba(0,0,0,0.2);
    text-decoration: none;
    text-align: center;
    color: rgba(0,0,0,0.6);

    &:not([disabled]):hover {
        background: $medium-gray;
    }
    &.primary {
        background: $blue;
        color: white;

        &:hover {
            background: $dark-blue;
        }
    }
    &.full {
        display: block;
        width: 100%;
        width: -webkit-fill-available;
        min-height: 0;
        line-height: 38px;
    }
    &[disabled] {
        opacity: 0.33;
        cursor: default;
    }
}

label,
button,
input[type='checkbox'],
input[type='radio'] {
    cursor: pointer;
}
label {
    display: block;
    width: calc(100% - 2px);
    max-width: 400px;
    margin: 16px 0;

    &.full {
        max-width: none;
    }
}
input[type='text'],
input[type='email'],
input[type='phone'],
input[type='number'],
input[type='password'],
input[type='date'],
select,
textarea {
    width: calc(100% - 6px);
    border: 1px solid rgba(0,0,0,0.2);
    text-indent: 10px;
    line-height: 24px;
    height: 24px;
    border-radius: 3px;
    outline-color: $light-blue;
}
select {
    width: 100%;
    line-height: 28px;
    height: 28px;
    text-indent: 0;
    cursor: pointer;
}
textarea {
    width: calc(100% - 16px);
    height: 80px;
    padding: 8px;
    line-height: initial;
    text-indent: 0;
}

//structural elements
.container {
    margin: auto 8px;

    @include breakpoint(md) {
        margin: auto 16px;
    }
    @include breakpoint(lg) {
        margin: auto 40px;
    }
}

table {
    border-collapse: collapse;
    width: 100%;

    thead {
        display: none;

        tr {
            th {
                padding: 0 8px;
                font-size: 14px;
                text-align: left;

                &.atc {
                    width: 20px;
                }
            }
        }
        @include breakpoint(sm) {
            display: table-header-group;
        }
    }
    tr {
        display: block;
        margin-bottom: 8px;
        padding: 8px;
        position: relative;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 4px;
        @include breakpoint(sm) {
            border: none;
            margin-bottom: 0;
            border-radius: 0;
        }

        td {
            display: block;
            padding: 0;

            &[data-th]:before {
                content: attr(data-th) ": ";
                font-weight: bold;
            }
            @include breakpoint(sm) {
                border: 1px solid $medium-gray;
                display: table-cell;
                padding: 8px;
                max-width: 300px;

                &[data-th]:before {
                    content: none;
                }
            }
        }
        @include breakpoint(sm) {
            display: table-row;
            padding: 0;
        }
    }
}
